* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

header {
  padding: 12px 24px;
  border-bottom: 1px solid #ededed;
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
}

header img {
  display: block;
}

header .search-container {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 1;
}

header .icons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search-div {
  flex: 1;
  display: flex;
  position: relative;
}
.search-icon {
  position: absolute;
  left: 12px;
  top: 6px;
}
.search {
  border-radius: 12px;
  border: 1px solid #ededed;
  padding: 8px 16px;
  padding-left: 42px;
  flex: 1;
}

main {
  max-width: 1200px;
  margin: 32px auto;
}

main h1 {
  margin-bottom: 24px;
}

/* .product-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
} */
.product-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  min-width: 250px;
  max-width: 300px;
  overflow: hidden;
  position: relative;
}

.product .heart-button {
  position: absolute;
  top: 16px;
  right: 16px;

  background-color: transparent;
  color: gray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: 1px solid gray;

  opacity: 0;
  cursor: pointer;
  transition: opacity 300ms;
}

.product .heart-button.active {
  color: red;
  border: 1px solid red;
}

.product:hover .heart-button {
  opacity: 1;
}

.product .product-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.product-detail {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 12px 20px;
}

.product-info {
  display: flex;
  align-items: center;
}

.product-rating {
  display: flex;
  align-items: center;
  gap: 4px;
  border-right: 1px solid gray;
  padding-right: 6px;
  margin-right: 6px;
}

.swiper {
  width: 100%;
  height: 300px;
}
