* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
a.primary {
  color: #0269cd;
}

.container {
  width: 100%;
  max-width: 1024px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

/* HEADER */
header {
  font-size: 12px;
}

.top-link {
  background-color: #f0f1f2;
}
.top-link-content {
  padding: 12px 0;
  display: flex;
  gap: 16px;
  align-items: center;
  /* padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 0;
  padding-right: 0; */
}
.line {
  width: 1px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.5);
}

.bottom-link {
  background-color: #fbfbfc;
}
.bottom-link-content {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}

.support-search {
  display: flex;
  gap: 12px;
}

/* MAIN */
.donation {
  text-align: center;
  font-size: 14px;
  padding: 12px 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mac-and-iphone {
  background-color: #f1eff3;
  padding-top: 40px;
  padding-bottom: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mac-and-iphone video {
  width: 600px;
}
.mac-and-iphone h1 {
  margin-bottom: 8px;
}
.mac-and-iphone p {
  padding-bottom: 12px;
}

.secondary-card {
  background: #fafafa;
}
.secondary-card .actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* FOOTER */
footer {
  background-color: #f5f5f7;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 42px 0;
  font-size: 12px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-section a:first-child {
  font-weight: bold;
}

/* 601px */
@media screen and (max-width: 600px) {
  .footer-container {
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}
